/* Option 1 Wireframe Layout */

/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

/* CSS Reset (Meyer) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    /*border: 0;  UNCOMMENT WHEN SUBMIT */
    border: 1px solid black; /*COMMENT OUT BEFORE SUBMIT*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Styling Defaults */
*{
    box-sizing:border-box;
    max-width:100%;
    border:1px solid gray;
}
html{
    font-size:62.5%;
}
body{
    font-size:2rem;
    color: darkslategray;
    font-family: 'Recursive', sans-serif;
    line-height: 1.2;
}
a{
    text-decoration:none;
}


/* Header Section */
header{
    background-color:darkslategray;
    color: whitesmoke;
    padding: 1.5% 0;
    display:flex;
    flex-direction: column;
}

h1{
    font-size: 4rem;
    font-variant:small-caps;
    margin: 2.5% 2.5% 1.25% 2.5%;
}

nav{
    font-size: 2rem;
    margin: 1% 1% 1% 5%;
    
}

a{
    margin: 2%;
    border: 1px solid whitesmoke; 
    border-radius: 5px;
    padding: .5rem;
    background-color: cadetblue;
    color: azure;
}

/* Main Section - Intro */
section{
    background-color:whitesmoke;
}

#intro-subsect{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
#main-pic{
    width:45%;
    margin:2.5%;
}

#intro-txt{
    width: 45%;
    display:flex;
    flex-direction: column;
    align-content: flex-end; 
    margin: 10% 5% 1% 5%;
    font-size: 1.8rem;
    line-height:1.5;
}
h2{
    font-size: 3rem;
    font-variant:small-caps;
    margin-left: 2.5%;
}

#intro-txt p{
    margin: 2.5%;
}

/* Main Section - Pic */

#pic-subsect{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 2;
}

.profile-line1{
    display:flex;
    text-align:center;
    justify-content: space-around;
}

.catOne,.catTwo,.catThree,.catFour,.catFive,.catSix,.catSeven,.catEight{
    max-width: 20%;
    border: 2.5px solid darkslategray; 
    display:flex;
    flex-direction:column;
}

#pic-subsect img{
    max-height: 80%;
}

/* #pic-subsect p{
    justify-content:center;
    align-items:center;
} */

.profile-line2{
    display:flex;
    text-align:center;
    justify-content: space-around;
    margin: 2.5% 0%;
}

/* Footer */
footer{
    background-color:darkslategray;
    color:whitesmoke;
    padding: 5%;
    text-align: center;
    line-height:2;
}

footer p{
    font-size: 2rem;
    color:whitesmoke;
}